{% extends 'users/headerLayout.html' %}

{% load static %}
{% block title %}Create Task{% endblock %}
{% block link %}
    <link rel="stylesheet" href="../../static/tasks/newtask.css">
{% endblock %}
{% block body %}
    <form action="{% url 'newtask' %}" class="form" method="post">
        <span class="formheader">Create New Task</span>
        <div class="box">
            <label for="">Name</label>
            <input type="text">
        </div>
        <div class="box">
            <label for="">Video</label>
            <input type="file">
        </div>
        <div class="box">
            <button type="submit">New</button>
        </div>
    </form>
{% endblock %}