{% extends 'users/headerLayout.html' %}

{% load static %}
{% block title %}Home{% endblock %}
{% block link %}
    <link rel="stylesheet" href="../../static/tasks/task.css">
{% endblock %}
{% block body %}
        
            <div class="search">
                <label for="search" style="margin-right: 10px;">Search</label>
                <input type="text" class="searchbar" id="searchInput">
                <script src="../../static/users/search.js"></script>
                <a href="{% url 'loop' %}" class="add">Add loop</a>
            </div> 
           
            <div class="maincontent">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Loop Name</th>
                        <th>X1</th>
                        <th>X2</th>
                        <th>X3</th>
                        <th>X4</th>
                        <th>Y1</th>
                        <th>Y2</th>
                        <th>Y3</th>
                        <th>Y4</th>
                        <th>Direction</th>
                        <th>Modify</th>
                    </tr>
                    {% for loop in loops %}
                        <tr>
                            <td>{{ loop.date }}</td>
                            <td>{{ loop.name }}</td>
                            <td>{{ loop.x1 }}</td>
                            <td>{{ loop.x2 }}</td>
                            <td>{{ loop.x3 }}</td>
                            <td>{{ loop.x4 }}</td>
                            <td>{{ loop.y1 }}</td>
                            <td>{{ loop.y2 }}</td>
                            <td>{{ loop.y3 }}</td>
                            <td>{{ loop.y4 }}</td>
                            <td>{{ loop.direction }}</td>
                            <td>
                                <div>
                                    <form action="{% url 'deleteloop' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="delete" name="loopid" value="{{loop.id}}">Delete Loop</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                <div>
                                    <a href="{% url 'loop' %}" class="delete">Add Loop</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="getresultbox">
                    <a href="" class="getresult">Get Result</a>
                    <a href="{% url 'home' %}" class="abtn">Back</a>
                </div>
            </div>
        </div>
    
{% endblock %}