{% extends './headerLayout.html' %}

{% load static %}
{% block title %}Home{% endblock %}
{% block link %}
    <link rel="stylesheet" href="../../static/users/index.css">
{% endblock %}
{% block body %}
        
            <div class="search">
                <label for="search" style="margin-right: 10px;">Search</label>
                <input type="text" class="searchbar" id="searchInput">
                <script src="../../static/users/search.js"></script>
            </div> 
           
            <div class="maincontent">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Modify</th>
                    </tr>
                    {% for user in users %}
                    <form action="{% url 'deleteuser' %}" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.role}}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div>
                                <button type="submit" class="delete" name="username" value="{{ user.username }}">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
{% endblock %}