{% extends './headerLayout.html' %}

{% load static %}
{% block title %}Home{% endblock %}
{% block link %}
    <link rel="stylesheet" href="../../static/users/index.css">
{% endblock %}
{% block body %}
        
            <div class="search">
                <label for="search" style="margin-right: 10px;">Search</label>
                <input type="text" class="searchbar" id="searchInput">
                <script src="../../static/users/search.js"></script>
                <a href="{% url 'newtask' %}" class="add">New Task</a>
            </div> 
           
            <div class="maincontent">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Onwer</th>
                        <th>Last modify</th>
                        <th>Status</th>
                        <th>Modify</th>
                    </tr>                
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.date }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.address }}</td>
                            <td>{{ task.owner }}</td>
                            <td> lastmodify </td>
                            <td> status </td>               
                            <td>
                                <div class="allbtn">
                                    <a href="{% url 'task' name=task.name  %}" class="edit">Edit</a>
                                    <form action="{% url 'result' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="delete" name="taskid" value="{{task.id}}">Get Result</button>
                                    </form>
                                    <form action="{% url 'deletetask' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="delete" name="taskid" value="{{task.id}}">Delete Task</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>                
                            <td>
                                <div>
                                    <a href="{% url 'newtask' %}" class="newtask">New Task</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
{% endblock %}