{% extends './layout.html' %}

{% load static %}
{% block title %}Home{% endblock %}
{% block link %}
    <link rel="stylesheet" href="../../static/users/index.css">
{% endblock %}
{% block body %}
    <div class="container">
        <header class="head">
            <a href="/">Home Page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <a href="/login">login</a>
                <a href="/register">register</a>
            {% endif %}
        </header>
        <div class="main">
            <div class="search">
                <label for="search">Search</label>
                <input type="text" class="searchbar" id="searchInput">
                <script src="../../static/users/search.js"></script>
                <a href="./newtask.html" class="add">New Task</a>
            </div>
           
            <div class="maincontent">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Adress</th>
                        <th>Status</th>
                        <th>Onwer</th>
                        <th>Date upload</th>
                        <th>Last modify</th>
                    </tr>
                    <tr>
                        <td><a href="./task.html">test</a></td>
                        <td><a href="">test</a></td>
                        <td><a href="">test</a></td>
                        <td><a href="">test</a></td>
                        <td><a href="">test</a></td>
                        <td><a href="">test</a></td>
                    </tr>
                    <tr>
                        <td><a href="">wow</a></td>
                        <td><a href="">wow</a></td>
                        <td><a href="">wow</a></td>
                        <td><a href="">wow</a></td>
                        <td><a href="">wow</a></td>
                        <td><a href="">wow</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Nice</a></td>
                        <td><a href="">Nice</a></td>
                        <td><a href="">Nice</a></td>
                        <td><a href="">Nice</a></td>
                        <td><a href="">Nice</a></td>
                        <td><a href="">Nice</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}