{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/users/login.css">
    <title>Sign in</title>
</head>
<body>
    {% load socialaccount %}
    <div class="tab">
        <header class="head">
            <a href="/">Home Page</a>
            {% if user.is_authenticated %}
            {% else %}
                <a href="/signup" class="right">Sign up</a>
            {% endif %}
        </header>
    </div>

    <div class="container">
        <span style="font-size: 50px;color: white;">Sing in</span>
        <br>
        <div class="box">
            <br>
            
            <form action="{% url 'login' %}" method="post" class="inbox">
                {% csrf_token %}
                <div class="inputbox">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="inputbox">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required >
                </div>
                <div class="inputbox lbutton">
                    <button type="submit">Login</button>
                </div>
            </form>
            <br>
            <div class="inbox">
                <span>Or</span>
                <a href="{% provider_login_url 'github' %}?next=/" class="altlogin"><img src="../../static/users/githubicon.png" alt="Github" class="social-icon"> Github</a>
                <a href="{% provider_login_url 'google' %}?next=/" class="altlogin"><img src="../../static/users/google_logo.png" alt="Google" class="social-icon"> Google</a>
            </div>
            <br>
            <div class="inbox">
                <span>Don't have an account? <a href="{% url 'signup' %}" class="signup">Sign up here</a></span>
            </div>
            <br>
        </div>
    </div>
    {% if message %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %}
</body>
</html>