:root {
    --background-box: rgba(243, 243, 243, 0.8);
    --a-color: #333;
    --a-hover-color: #a0a0a0;
}
.form {
    margin-top: 10dvh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-box);
    flex-direction: column;
    width: 35%;
    min-width: 525px;
}

.formheader {
    padding: 20px;
    font-size: 30px;
}

.box {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px;
    width: 95%;
}
.box label {
    display: block;
    margin-right: 10px;
}

.box input {
    flex: 1;
    margin-right: 20px;
}
.submit{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    padding: 5px;
    background-color: rgb(255, 193, 193);
    border-radius: 4px;
}
button{
    padding: 7px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: var(--a-color);
}
button:hover{
    background-color: var(--a-hover-color);
}
