.form{
    margin-top: 10dvh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: 35%;
}

.formheader{
    margin-top: 30px;
    padding: 20px;
    font-size: 30px;
}

.box{
    display: flex;
    align-items: center;
    margin: 30px;
    width: 300px;
}
label{
    padding-right: 15px;
}
button{
    padding: 10px;
    color: white;
    background-color: #333;
    border: 1px solid black;
    border-radius: 5px;
}
.addbtn{
    display: flex;
    justify-content: center;
}
