:root {
    --background-box: rgba(243, 243, 243, 0.8);
    --a-color: #333;
    --a-hover-color: #a0a0a0;
}
.form {
    margin-top: 10dvh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-box);
    width: 50%;
    min-width: 675px;
}
.formheader {
    padding: 20px;
    font-size: 30px;
}
.centerbox{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 95%;
}
.box {
    display: flex;
    justify-content: start;
    margin: 10px;
    width: 640px;
}
.box label {
    padding-right: 15px;
    margin-bottom: 10px; 
    display: block;
    margin-right: 10px;
}
.box input {
    flex: 1;
}
.centerbox a {
    text-decoration: none;
    color: white;
    padding: 7px 10px;
    background-color: var(--a-color);
    border-radius: 4px;
    margin-bottom: 25px;
}
.centerbox a:hover{
    background-color: var(--a-hover-color);
}